@{
    ViewData["Title"] = "Home Page";
    
           
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <ul>
       @foreach (var item in  ViewBag.currencies){
       <li>
           <a href="Home/Currency/@item.id">@item.name</a>
       </li>
           }
   </ul>
</div>
