html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #191F2B;
    color: white;
}

.top_currencies_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #191F2B;
    color: white;
}

.top_currency {
    display: block;
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 18px;
    background-color: #191F2B;
    color: white;
}

.currency {
    flex-basis: 24%;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #191F2B;
    color: white;
}

.currency_link {
    color: #2F80ED;
    text-decoration: none;

}

.display-4 {
    font-weight: 500;
    margin-bottom: 20px;
}

.currency_table {
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-radius: 0.25rem;
    border: solid #E0E0E0;
}

.elastic li.hide, .elastic.hide {
    display: none;
}

.elastic li {
    list-style: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 2px solid #e8e8e8;
    width: 100%;
    transition: .3s;
    cursor: pointer;
}

    .elastic li:hover {
        background-color: #2F80ED;
    }

    .elastic li:first-child {
        border-top: none;
    }

    .elastic li:last-child {
        margin-bottom: 30px;
    }

.elastic {
    position: absolute;
    min-width: 300px;
    z-index: 1000;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 5px 25px -5px rgba(0,0,0,0.4);
    top: 58px;
    left: 618px;
    background-color: #191F2B;
    color: white;
}

.search_title {
    text-decoration: none;
    color: black;
    text-align: center;
}



.input_search, .search_active {
    min-width: 300px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    border: 1px solid;
    border-radius: 0.25rem;
    background-color: #191F2B;
    color: white;
}

.small_search {
    display: none;
}

@media (max-width:1200px) {
    .small_search {
        display: block;
    }

    .elastic {
        margin: auto;
        max-width: 90%;
        width: 100%;
        right: 0;
        left: 0;
        top: 50px;
    }
}

.li_search {
    min-width: 300px;
}

.header-search {
}

.nav-link {
    color: #2F80ED;

}
.table {
    background-color: #191F2B;
    color: white;
}

.table td {
    text-align: center;
}

.dark-mode {
    background-color: #191F2B;
    color: white;
}

.card {
    border-width: 1px;
    border-radius: 0.25rem;
    border: solid #E0E0E0;
    background-color: #191F2B;
    color: white;
}

.form-control:focus {
    background-color: #191F2B;
    color: white;
}
.form-control {
    background-color: #191F2B;
    color: white;
}
.form-select {
    background-color: #191F2B;
    color: white;
}
.language_select {
    position: absolute;
    right: 170px;
}